<section class="products py-5">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="section-title fw-bold mt-5 text-center text-main">All Products</h2>
    </div>

    <div class="row g-4">
      @for (Product of productList; track Product.id) {
        <div class="col-md-3">
          <div class="product-card shadow-sm rounded overflow-hidden">
            <div class="product-img-container position-relative overflow-hidden">
              <img
                [src]="Product.imageCover"
                [alt]="Product.title"
                class="product-image w-100"
              />
              <div class="overlay d-flex align-items-center justify-content-center">
                <button class="btn btn-primary btn-sm" [routerLink]="['/detailsProduct', Product.id]">View Details</button>
              </div>
            </div>
            <div class="p-3">
              <h3 class="small text-main text-uppercase">{{ Product.category.name }}</h3>
              <h3 class="product-title fw-bold text-truncate">{{ Product.title }}</h3>
              <div class="d-flex justify-content-between align-items-center mt-2">
                <span class="product-price fw-bold text-success">{{ Product.price }} EGP</span>
                <div class="product-rating">
                  <span><i class="fas fa-star text-warning"></i></span>
                  <span class="text-muted">{{ Product.ratingsAverage }}</span>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary" (click)="AddToCart(Product.id)">Add To Cart</button>
        </div>
      }
    </div>

    <div class="text-center mt-5">
      @if (currentPage < numberOfPages) {
        <button class="btn btn-outline-primary px-4 py-2 fw-bold shadow-sm" (click)="loadMoreProducts()">
          Load More
        </button>
      }
    </div>
  </div>
</section>
